# Core framework
fastapi[all] # Includes uvicorn, starlette, pydantic, etc.
uvicorn

# Database-related
SQLAlchemy
psycopg2-binary
pydantic
pydantic_settings

# Cloud and AWS
boto3

# Machine Learning/Vector Stores
faiss-cpu
langchain
langchain-community

# Google APIs
google-auth
google-generativeai
langchain-google-genai

# Redis
redis
fastapi-limiter

# Utilities and Extras
python-dotenv
PyMuPDF
typing_extensions
uvloop
watchfiles

